<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../style/style.css" />
        <link rel="stylesheet" href="../style/normalize.css" />
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav_logo"></div>
                <div class="nav_info">
                    <a href="register.html"> <div>Регистрация</div></a>
                    <a href="#"> <div>Услуги</div></a>
                    <a href="#"> <div>Тарифы</div></a>

                    <a href="#"> <div>Контакты</div></a>
                    <a href="#"> <div>Информация</div></a>
                </div>
            </nav>
        </header>
        <main>
            <section>
                <div class="main_wrapper">
                    <div class="main_img"></div>

                    <div class="main_text_area">
                        <div class="main_text">
                            ФИТНЕС,<br />
                            ВСЕ ДЕЛА...
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="about_wrapper">
                    <div class="about_img"></div>
                    <div class="about_text">
                        <h1>Кто мы такие?</h1>
                        Фитнес и точка - это сообщество любителей спрорта и больших профессионалов в своей области. Мы
                        предлагаем лучшие тренажёры, и тренерский состав по весьма демократичным ценам.
                        <p>Сотни довольных клиентов не дадут ошибиться</p>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
