<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Регистрация</title>

        <link rel="stylesheet" href="../style/style_register.css" />
    </head>
    <body>
        <div class="register_field">
            <form>
                <label for="log" class="form-label">Адрес электронной почты:</label>
                <input type="text" name="name" class="form-control" id="log" aria-describedby="emailHelp" />

                <label for="exampleInputPassword1" class="form-label">Пароль:</label>
                <input type="password" name="password" class="form-control" id="pass" />

                <button type="submit" class="btn btn-primary" id="check">Отправить</button>
            </form>
        </div>
    </body>
    <script src="../scripts/script.js"></script>
</html>
